.card {
  width: 100%;
  border-radius: 14px;
  margin: 20px 30px;
  .card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    img {
      width: 230px;
    }
  }
}
